.footer {
    font-family: Silkscreen, Arial, Helvetica, sans-serif;
    background-color: #181818;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
  
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer p { margin: 5px 0;}
  
span.heart { 
    padding: 2px 0 0;
    color: red;   
}

time { color: var(--primary-color); }

.footer_nav {
    padding: 10px 0;
}

.footer_list_item {
    padding: 0 0 7px;
}

.footer_list_item a {
    text-decoration: none;
    padding: 0 0 5px;
    color: var(--secondary-color);
    text-transform: uppercase;
    /*-webkit-text-stroke: 1px black;*/
}

@media (max-width: 1023px) {
    .footer {
        font-size: 13px;
      }
}

@media (max-width: 999px) {
    .footer {
        font-size: 11px;
      }
}