::selection {
    background-color: var(--background);
    color: #fff;
    text-shadow: none;
}

html { font-size: 1vw; }

body {
    height: 100vh;
    background-color: var(--background);
    color: white;
}

/*** index.html ***/

.o-page {
    padding-top: 123px;
    font-family: Silkscreen, Arial, Helvetica, sans-serif;
    width: 80%; margin: 0 auto 40px;
}

o-layout { margin: 0 auto; }

.o-layout_item { width: 49%; }
.o-layout_item img { width: 100%; }
.o-layout_item p { 
    font-size: 2.5rem;
    line-height: 1.34;
    text-align: right;
}

p.o-text { 
    text-align: left;
}

.o-background { height: 129px; }

.o-header { display: inline-block; }
.o-title {
    font-size: 5rem;
    text-align: center;
    color: var(--secondary-color);
    padding: 25px 0;
}

.o-page .o-figure {
    margin: 0 auto;
    width: 540px;
}

.o-page .o-figure figcaption { text-align: center; padding: 15px 0; }

.video-container {
    position: relative;
}

.video-container video {
    width: 100%;
}

.custom-controls {
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
}

.custom-controls button, .custom-controls input {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    font-size: 16px;
}

.custom-controls input[type="range"] {
    width: 100px;
}

.custom-controls span {
    color: white;
    font-size: 14px;
    margin: 0 5px;
}

@media (max-width: 1023px) {
    .o-page {
        width: 90%;
    }
    .o-layout_item p { 
        line-height: 1.2;
    }
    html { font-size: 1.2vw; }
    .o-page .o-figure figcaption { font-size: 15px; }
}

@media (max-width: 699px) {
    .o-page .o-figure {
        margin: 0 auto;
        width: 100%;
    }
}


/*** enlaces.html ***/

.l-header {
    font-size: 3rem;
    padding: 40px 0 20px;
}

.l-link-item {
    padding: 20px 0;
}

.l-link-item h2 { font-size: 1.5em; padding: 0 0 10px; }
.l-link-item a {
    padding: 0 0 10px; 
    display: block;
    text-decoration: none;
    color: var(--secondary-color);
}

.l-link-item p {
    line-height: 1.2;
}

.l-link-item:nth-child(odd) { text-align: right; }
.l-link-item:nth-child(odd) a { color: var(--primary-color); }

.l-link-item a:hover { color:#fff; }

.l-text { display: inline-block; width: 75%; }


/*** categorias.html ***/

#categories, #links, #detail { width: 90%; }

#categories section { padding: 0 0 30px; }

.e-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.episode {
    margin: 6px;
    max-width: 100%;
}

.e-thumbnail { margin: 0; position: relative; }
.e-thumbnail img { width: 100%; }

.e-thumbnail-gradient {
    background-image: linear-gradient(0deg, #181818cc 5%, #0000 95%);
    height: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: -0.5px;
}

.e-data .e-title {
  font-size: 16px;
  font-weight: 500;
}

.e-runtime {
    color: #a3a3a3;
    font-size: 16px;
    line-height: 27px;
}

.e-synopsis {
  color: #a3a3a3;
  font-size: 12px;
  font-family: Silkscreen, Arial, Helvetica, sans-serif;
  line-height: 15px;
}

#categories h2 {
    font-size: 30px;
    line-height: 65px;
}

section#voices .v-container {
    display: grid;
    grid-template-columns: 25% 75%;
}

@media (max-width: 1439px) {
    .e-container {
        grid-template-columns: 33.333% 33.333% 33.333%;
    }
}

@media (max-width: 1023px) {
    .e-container {
      grid-template-columns: 50% 50%;
    }
}

@media (max-width: 599px) {
    .e-container {
      grid-template-columns: 100%;
    }
}

.f-container, .f-item {
    display: grid;
    grid-template-columns: 50% 50%;
}

.f-thumbnail { width: 250px; }
.f-thumbnail img { width: 100%; }

 .episode a { text-decoration: none; color: #fff; }
 .episode .e-runtime a, .episode .e-synopsis a { text-decoration: none; color: var(--third-color); }
 .episode a:hover { text-decoration: none; color: var(--secondary-color); }
 .episode .e-synopsis a:hover { text-decoration: none; color: var(--primary-color); }



/*** detalle.html ***/

#detail .details-info {
    display: grid;
    grid-template-columns: 50% 50%;  place-items: center;
}

#detail h2 {
    font-size: 40px;
    line-height: 1;
}

.details-image-top img { width: 100%; }
.details-image-top figcaption { padding: 5px 0 20px; text-align: center; font-size: 1.25em; }

.details-container { margin-left: 20px; }
.title-year { font-size: 30px; margin: 10px 0; display: block; color: var(--third-color); }
.title-info { font-size: 20px; margin: 10px 0; color: var(--primary-color); }
.title-data-info { padding: 25px 0; font-size: 16px; }
.title-data { color: var(--primary-color); }

#detail-text .detail-data { font-size: 1.15em; padding: 10px 0; line-height: 1.1; }


@media (max-width: 999px) {
    #detail .details-info  {
        display: grid;
        grid-template-columns: 100%;
    }
}

i.fa-play { font-size: 0.75em; margin-left: 3px; }

.actor-list dd {
    display: none;
    margin-left: 0;
    opacity: 0; 
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}
  
.actor-list dt { cursor: pointer; margin: 10px 0 0; }
.actor-list dt:hover { color: var(--secondary-color); }
  
.actor-list dt.active + dd {
    display: block;
    opacity: 1; 
    max-height: 100px;
}

.marked-actor { color: var(--secondary-color); }


/*** presentación.html ***/

.character-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .character-card {
    width: 150px;
    padding: 25px;
    text-align: center;
  }
  
  .character-card img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .character-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--secondary-color);
  }
  
hgroup h2 { color: var(--primary-color); margin: 0 0 5px; line-height: 1 !important; }
hgroup p { color: var(--third-color); font-size: 16px; }

#info-media-plot > p { margin: 15px 0 0; }

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}
