.c-header_list_item {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    padding-right: 15%;
    font-family: Aldrich;
  }

  .c-header {
    height: 3.25rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 50;
  }

  .c-header_nav { width: 100%; }

  .c-header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .c-header_list_item a { text-decoration: none; color: red; }

  @media (max-width: 699px) {
    .c-header_list_item {
      padding-right: 10%;
    }
  }